{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Your Page Title</title>
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      .navbar-toggler,
      .navbar-toggler:focus,
      .navbar-toggler:active,
      .navbar-toggler-icon:focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
      }
    </style>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-blue-400 p-3 px-5 w-100">
    <img
      class="navbar-brand p-0 m-0"
      src="{% static 'img/logo.png' %}"
      width="50px"
      height="50px"
      alt="nav-logo"
    />
    <a class="navbar-brand p-0 m-0" href="/"> Shield Finance </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      {% if request.user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link hide-nav"
            href="{% url 'transactions:transaction_report' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link hide-nav"
            href="{% url 'payments:initiate_payment' %}"
            >Deposit</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link hide-nav"
            href="{% url 'transactions:withdraw_money' %}"
            >Withdraw</a
          >
        </li>
      </ul>
      <div class="navbar-text text-blue-900 my-2 my-lg-0 font-weight-bold">
        Welcome, {{ request.user.first_name }} {{ request.user.last_name }}!
      </div>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link d-inline-flex px-3 btn-danger rounded m-2"
            href="{% url 'accounts:user_logout' %}"
            >Logout</a
          >
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link d-inline-flex px-3 btn-primary rounded m-2"
            href="{% url 'accounts:user_login' %}"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-inline-flex px-3 btn-success rounded m-2"
            href="{% url 'accounts:user_registration' %}"
            >Register</a
          >
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>
</html>
