{% extends 'core/base.html' %} {% block head_title %}{{ title }}{% endblock %}
{% block content %}
<!-- Add the following link to include Tailwind CSS -->
<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
  rel="stylesheet"
/>

<section class="pb-4">
  <div class="bg-white border rounded-5">
    <section class="w-100 p-4 flex justify-center pb-4">
      <form
        style="width: 22rem"
        action="{% url 'payments:initiate_payment' %}"
        method="POST"
      >
        <h2 class="text-2xl font-bold mb-4">Fund your wallet</h2>
        {% csrf_token %}

        <div class="mb-4">
          <label
            for="form2Example1"
            class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          <input
            type="email"
            id="form2Example1"
            class="form-input mt-1 block w-full border rounded border-gray-500 focus:outline-none focus:ring focus:border-blue-300"
            name="email"
            required
          />
        </div>

        <div class="mb-4">
          <label
            for="form2Example2"
            class="block text-sm font-medium text-gray-700"
            >Amount to Fund</label
          >
          <input
            type="number"
            min="1"
            required
            id="form2Example2"
            class="form-input mt-1 block w-full border rounded border-gray-500 focus:outline-none focus:ring focus:border-blue-300"
            name="amount"
          />
        </div>

        <h4>Make Transfer:</h4>
        <div class="mb-4">
          <label
            for="account-number"
            class="block text-sm font-medium text-gray-700"
            >Account Number</label
          >
          <select
            id="account-number"
            name="account_number"
            class="form-select mt-1 block w-full border rounded border-gray-500 focus:outline-none focus:ring focus:border-blue-300"
            required
          >
            {% for item in user_bank_accounts %}
            <option value="{{ item.account_no}}" selected>
              {{ item.account_no}}
            </option>
            {% endfor %}
            <option value="" selected></option>
          </select>
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-block mb-4 bg-blue-500 text-white py-2 px-4 rounded"
        >
          Fund
        </button>
      </form>
    </section>
  </div>
</section>

{% endblock %}
